# Lab 7: Implementing K-means Algorithm

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display_html
from sklearn import cluster

In [2]:
def toy_dataset():
    ratings = [
        ['Prakriti', 5, 5, 2, 1],
        ['Pranisha', 4, 5, 3, 2],
        ['Kritika', 4, 4, 4, 3],
        ['Swikriti', 2, 2, 4, 5],
        ['Kritesh', 1, 2, 3, 4],
        ['Binit', 2, 1, 5, 5]
    ]
    titles = ['user', 'Loot', 'Chino', 'Ghar', 'Aatma']
    movies = pd.DataFrame(ratings, columns=titles)
    display_html(movies)
    return movies

In [3]:
def k_means_learn(k,movies):
    data = movies.drop('user', axis=1)
    k_means = cluster.KMeans(n_clusters=2, max_iter=50, random_state=1)
    k_means.fit(data)
    labels = k_means.labels_
    pd.DataFrame(labels, index=movies.user, columns=['Cluster ID'])
    print("Learned cluster centroids for two clusters 0 and 1:")
    centroids = k_means.cluster_centers_
    display_html(pd.DataFrame(centroids, columns=data.columns))
    print("Now we can use cluster centroids to other users to determine their cluster assignments.")
    return (k_means)

In [4]:
def cluster_new_data(k_means, movies):
    testData = np.array([
        [4,5,1,2],
        [3,2,4,4],
        [2,3,4,1],
        [3,2,3,3],
        [5,4,1,4]
    ])
    labels = k_means.predict(testData)
    labels = labels.reshape(-1,1)
    usernames = np.array([
        'Prayash', 'Nitish', 'Pratik', 'Aahana', 'Prithvi'
    ]).reshape(-1,1)
    cols = movies.columns.tolist()
    newusers = pd.DataFrame(np.concatenate((usernames, testData), axis=1), columns=cols)
    cols.append('Assigned Cluster')
    newusers_cluster = pd.DataFrame(np.concatenate((usernames, testData, labels), axis=1), columns=cols)
    print("New Users (test data) are:")
    display_html(newusers)
    print("New Users with their assigned cluster:")
    display_html(newusers_cluster)

In [5]:
def main():
    k=2
    movies = toy_dataset()
    k_means = k_means_learn(k, movies)
    cluster_new_data(k_means, movies)

**Output:**

In [6]:
main()

,user,Loot,Chino,Ghar,Aatma
0,Prakriti,5,5,2,1
1,Pranisha,4,5,3,2
2,Kritika,4,4,4,3
3,Swikriti,2,2,4,5
4,Kritesh,1,2,3,4
5,Binit,2,1,5,5

Learned cluster centroids for two clusters 0 and 1:

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

,Loot,Chino,Ghar,Aatma
0,1.666667,1.666667,4.0,4.666667
1,4.333333,4.666667,3.0,2.000000

Now we can use cluster centroids to other users to determine their cluster assignments.
New Users (test data) are:

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but KMeans was fitted with feature names
  warnings.warn(

,user,Loot,Chino,Ghar,Aatma
0,Prayash,4,5,1,2
1,Nitish,3,2,4,4
2,Pratik,2,3,4,1
3,Aahana,3,2,3,3
4,Prithvi,5,4,1,4

New Users with their assigned cluster:

,user,Loot,Chino,Ghar,Aatma,Assigned Cluster
0,Prayash,4,5,1,2,1
1,Nitish,3,2,4,4,0
2,Pratik,2,3,4,1,1
3,Aahana,3,2,3,3,0
4,Prithvi,5,4,1,4,1